MANIFEST.bak
sandbox
Sandbox
examples
benchmark
benchmark.csv
docs
todo.org
tools/*
!tools/rewrite_goe_licenses.pl
!tools/scramble_korapxml.pl
build
node_modules
log
blib
MYMETA*
Makefile
pm_to_blib
cover_db
nytprof.out
nytprof
\#*#
*.tar.gz
*~
*.sqlite
*.log
*.db
*.old
*.tmp
*.cache
.*
!.github
!.gitignore

# Protected checks
t/corpus/BRZ13
t/real/corpus/BRZ13
t/real/corpus/DCK
t/real/corpus/AGD-orig
t/real/corpus/FOLK-orig
t/real/dck.t
